html,
body,
header,
#intro {
  height: 100%;
}

#intro {
  background:linear-gradient(rgba(255, 255, 255, 0.212),rgba(255, 255, 255, 0.212)),url("PIZZALORDS.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-nav-collapse {
  background-color: #24355c;
}

/* Each sub-menu starts out hidden. */

.initiallyHidden {
  display: none;
}
