html,
body,
header,
#intro {
    height: 100%;
}
#intro {
    background: url("PIZZALORDS.jpg")no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
.top-nav-collapse{
    background-color: #24355c;
}